/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 5px 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 30px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
  margin-top: 10px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 10px 20px;
  text-align: center;

}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 55px;
  color: #ecdbc9;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a {
  padding-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */

#join h2 {
  margin: 20px 0 15px;
}

form {
  box-sizing: border-box;
  border: 2px solid #6b1a22;
  padding: 10px;
}

form div {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin: 0 0 20px 5px;
  width: 115px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* Desktop version `*/

@media all and (min-width: 480px) {

  /* Section */

  section {
    padding: 15px;
  }

  /* Header - logo, navigation */

  header {
    display: flex;
    justify-content: space-between;
  }

  header .logo {
    font-size: 40px;
  }

  header nav {
    margin-bottom: 5px;
  }

  /* Join */

  #join {
    display: flex;
  }

  #join img {
    width: 55%;
    margin: 0 10px 0 0;
  }

  #join article {
    width: 45%;
    align-self: center;
  }

  form select,
  form input {
    margin: 0 0 20px 5px;
    width: 105px;
  }

  /* About */

  #about div {
    display: flex;
    align-items: center;
  }

  #about img {
    width: 25%;
    margin-right: 10px;
  }

  #about p {
    width: 70%;
  }

  /* Download */

  #download {
    display: flex;
    align-items: center;
  }

  #download div {
    width: 50%;
    padding: 15px;
  }

  #download img {
    width: 50%;
    padding-left: 10px;
  }

  /* Blog */

  #blog article {
    display: flex;
  }

  #blog div {
    margin: 5px;
    flex: 1;
  }
}
